<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wgcloud.mapper.NetAdapterStateMapper">
    <resultMap id="resultMap" type="com.wgcloud.entity.NetAdapterState">
        <id column="ID" property="id" jdbcType="CHAR"/>
        <result column="HOST_NAME" property="hostname" jdbcType="CHAR"/>
        <result column="NAME" property="name" jdbcType="CHAR"/>
        <result column="IPV4_ADDRESS" property="ipv4Address" jdbcType="CHAR"/>
        <result column="IPV4_NETMASK" property="ipv4Netmask" jdbcType="CHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="tableColumnList">
        ID,HOST_NAME, NAME, IPV4_ADDRESS, IPV4_NETMASK,CREATE_TIME
    </sql>

    <sql id="queryByParams">
        <if test="hostname != null">
            <![CDATA[ AND HOST_NAME = #{hostname} ]]>
        </if>
    </sql>

    <insert id="insertList" parameterType="java.util.List">
        INSERT INTO NET_ADAPTER_STATE (ID,HOST_NAME, NAME, IPV4_ADDRESS, IPV4_NETMASK, CREATE_TIME) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.hostname},#{item.name},#{item.ipv4Address},#{item.ipv4Netmask},#{item.createTime})
        </foreach>
    </insert>

    <insert id="save" parameterType="com.wgcloud.entity.NetAdapterState">
        INSERT INTO NET_ADAPTER_STATE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">ID,</if>
            <if test="hostname != null">HOST_NAME,</if>
            <if test="name != null">NAME,</if>
            <if test="ipv4Address != null">IPV4_ADDRESS,</if>
            <if test="ipv4Netmask != null">IPV4_NETMASK,</if>
            <if test="createTime != null">CREATE_TIME</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="hostname != null">#{hostname},</if>
            <if test="name != null">#{name},</if>
            <if test="ipv4Address != null">#{ipv4Address},</if>
            <if test="ipv4Netmask != null">#{ipv4Netmask},</if>
            <if test="createTime != null">#{createTime}</if>
        </trim>
    </insert>


    <select id="selectAllByParams" parameterType="map" resultMap="resultMap">
        SELECT
        <include refid="tableColumnList"/>
        FROM NET_ADAPTER_STATE t
        <where>
            <include refid="queryByParams"/>
        </where>
        ORDER BY CREATE_TIME DESC,NAME ASC
    </select>

    <delete id="deleteByAccHname" parameterType="map">
        DELETE FROM NET_ADAPTER_STATE WHERE
        <![CDATA[  HOST_NAME  = #{hostname} ]]>
    </delete>
</mapper>